html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
  transition: transform 0.2s;
  border: none;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-5px);
}

.btn {
  font-weight: 500;
}

.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* Tooltip Customizado */
.tooltip-inner {
  background-color: #333;
  font-size: 14px;
  max-width: 300px;
  text-align: left;
}

.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #333 !important;
}

.info-icon {
  cursor: help;
  margin-left: 5px;
  color: #666;
}